<!--<app-header></app-header>-->
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="imageWrapper"></div>
      </div>
      <div class="col-md-8">
        <h3>{{product[0].prodTitle}}</h3>
        <p>{{product[0].prodDesc}}</p>
        <p>{{product[0].prodPrice}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-4">
        <a routerLink="/dashboard"> Go back to detail page</a>
      </div>
    </div>
  </div>
</div>
