<form role="form" method="post">
  <fieldset>							
    <p class="text-uppercase pull-center"> SIGN UP:</p>	
    <app-input-element *ngFor="let item of inputObject" 
                        [placeholder]="item.placeholder" 
                        [type]="item.type" 
                        [name]="item.name" 
                        [id]="item.id" 
                        (onChange)="changeHandler($event)"></app-input-element>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        By Clicking register you're agree to our policy & terms
      </label>
      </div>
    <div>
      <input type="submit" class="btn btn-lg btn-primary"   value="Register"/>
    </div>
  </fieldset>
</form>
